{% load static %} {% load wagtailcore_tags %}
<!--wagtailuserbar-->
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% if self.seo_title %}
        {{ self.seo_title }}
        {% else %}
        {{ self.title }}
        {% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}

    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> {# Global stylesheets #}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="https://kit.fontawesome.com/673a6d4b77.js" crossorigin="anonymous"></script>



    <link href="{% static 'css/wagtail_fixes.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!--<link rel="stylesheet" href="{% static 'css/video_header.css' %}">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->


    {% block extra_css %} {# Override this in templates to add extra stylesheets #} {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% include 'navbar.html' %} {% block content %}{% endblock %} {# Global javascript #}
    <!-- wagtailuserbar -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/autosize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/draggable.bundle.legacy.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swap-animation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dropzone.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/list.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/map.js' %}"></script>-->


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="{% static 'js/video_modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/video_script.js' %}"></script>-->


    <script src="https://mdbootstrap.com/previews/docs/latest/js/bootstrap.min.js"></script>
    <script src="https://mdbootstrap.com/previews/docs/latest/js/mdb.min.js"></script>
    <script src="https://mdbootstrap.com/previews/docs/latest/js/jarallax.js"></script>
    <script src="https://mdbootstrap.com/previews/docs/latest/js/jarallax-video.js"></script>
    <script>
        new WOW().init();
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js.map"></script>

    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>


    <script>
        var item = $('.jarallax')[0];

        $(document).on('click', '[video="videoPause"]', function(event) {
            item.jarallax.video.pause();
        });
    </script>


    {% block extra_js %} {# Override this in templates to add extra javascript #} {% endblock %}
</body>

</html>
